<<<<<<< HEAD
body{
  font-size: 18px;
  font-family:Helvetica, sans-serif;
  height: 100%;
  padding: 0px 0px;
  align-items: center;
  overflow-x: hidden;
  top: 75px;
  margin: 0px;
}

.main-head{
  background-color: #ffcccc;
  line-height: 23px;
  font-weight: 500;
  top: 0px;
  left: 0px;
  height: auto;
  width: 100vw;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  width: 400px;
}
@media screen and (max-width: 1000px) {
  .logo {
    width: 40vw !important;
  }
}
/*header*/
.header{
    position:fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    max-width: 2000px;
    width: 100vw;
    background-color: white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 4px;
    cursor: pointer; 
    z-index: 1;
    overflow-x: hidden;
    background: radial-gradient(ellipse at center,rgb(231, 231, 231),rgb(250, 250, 250));
    width: 100%;
}
/*sidebar feature*/
@media only screen and (min-width: 1000px) {
  .nav-div{
    width: 100% !important;
    height: 50px !important;
    display: block ;
    text-align: center;
  }
}
.nav-div{
  display: block;
}
@media only screen and (min-width: 1000px) {
  .bar{
    display:none;
    overflow: visible;
   
  }
}
@media only screen and (min-width: 1000px) {
  .sidebar{
    position:static !important;
    width: 80% !important;
    text-align: center;
    top:unset !important;
    height: 50px !important;
    border-radius: 20px;
  }
}
.sidebar{
  top: 0;
  height:100%;
  background-color:white;
  z-index: 3;
  width: 200px;
  position:fixed;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(34, 34, 34, 0.12);
  box-sizing: border-box ;
  left:-200px;
  transition: left 0.4s ease;
  display: inline-block;
}
.sidebar .bar{
  font-style: 'Poppin',sans-serief;
  overflow: visible;
  user-select: none;
  line-height: 70px;
  height: 68px;
  font-size: 32px;
  color: black;
  text-align: center; 
  width: 100%;
  animation:animateleft 0.4s;
}
@media only screen and (min-width: 1000px) {
  nav ul {
    display:flex;
    position: static;
    background: #ffffff !important;
    border-radius: 20px;

  }
}
nav ul{
  background: rgb(202, 199, 199);
  list-style: none;
  height:100%;
  text-align: left;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  position: static;
}

nav ul li{
  width: 100%;
  line-height: 50px;
}
nav ul ul{
  line-height: 50px;
  border-bottom: none;
  display: none;
}
@media only screen and (min-width: 1000px){
  nav ul li {
    padding: unset !important;
  } 
}
@media only screen and (min-width: 1000px){
  nav ul li a {
    border-bottom: unset !important;
    justify-content: center !important;
    padding: unset !important;
    align-items: center !important;
  } 
}
nav ul li a{
  padding-left: 30px;
  color:black;
  text-decoration:none;
  font-size:24px;
  border-bottom: 1px solid rgb(36, 30, 30);
  border-left: 1px solid transparent;
  display: flex;
  font-size: 18px;
}

@media screen and (min-width: 1000px){
  nav ul ul li {
    border-bottom: 1px solid black;
    background-color: white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(34, 34, 34, 0.12);
  }
}
@media screen and (min-width: 1000px){
  nav ul ul li a {
    padding:unset !important;
    justify-content: center;
    font-size: 14px !important;
    
  }
}
nav ul ul li a{
  padding-left: 60px;
}

@media screen and (min-width: 1000px){
  .triangle {
    margin-left: 6% !important;
    border-right: 7px solid transparent !important;
    border-left: 7px solid transparent !important;
    border-top: 10px solid rgb(99, 99, 99) !important;
    border-bottom: 7px solid transparent !important;
    margin: unset !important;
    font-size: 18px;
  }
}
.triangle{
  margin:  auto;
  position: flex;
  top: 50%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 12px solid rgb(99, 99, 99);
  border-bottom: 10px solid transparent;
  transition: transform 0.4s;
  }

/*sidebar funtion*/
@media screen and (min-width:1000px){
  nav ul li a:hover{
    border-radius: 20px;
  }
}
@media screen and (min-width:1000px){
  #years :hover{
    border-radius:unset !important ;
  }
}
nav ul li a:hover{
  color:white;
  background: black;
  border-left-color: rgb(255, 0, 0);
}
.rotate{
    transform: translate(0,-25%)rotate(180deg);
  }
.fold{
  display: block;
}

/*button feature*/
@media only screen and (min-width: 1000px) {
  .btn {
     display: none !important;
   }
}
.btn{
  position:fixed;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgb(202, 199, 199);
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  border-radius: 4px;
  cursor: pointer; 
  z-index: 2; 
  color:black;
  font-size: 25px;
  line-height: 50px;
} 

/*button function*/
.sidebar.unfold{
  left: 0px;
}
.btn-wipe{
  transform: scale(0); 
}
#profile{
  cursor: pointer;
  user-select: none;
}

/*扶뒬매*/
@media only screen and (min-width: 1000px) {
  .theme {
    width: 20% !important;
   }
}
.theme{
  max-width: 1200px;
  margin: auto;
  font-size: 24px;
  width: 66%;
  text-align: left;
  display: block;
  background: transparent !important;
  padding: 0px 5vw;
}



.footer{
  display: block;
  flex-direction: row;
  margin: 10%;
  font-family: Bookman, URW Bookman L, sans-serif;
  font-size: 12px;
  font-display: left;
  background: transparent !important;
}
.footer1{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
  height: 200px;
}
.footer2{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;  
}
.footer-li{
  color: rgb(153, 33, 113);
  vertical-align: 50%;
  list-style-position: outside;
}


.post-svg{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  width: 33.3%;
  text-align:left;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .post-svg {
      width:100%;
    }
}













@media only screen and (max-width: 1000px) {
  .theme-slide {
      width:100% !important;
    }
}
.theme-slide{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .slider {
      width:100vw !important;
      height: 62.5vw !important;
    }
}
.slider{
  width: 800px;
  height: 500px;
  border-radius: 5px;
  display: flex;
}
@media only screen and (max-width: 1000px) {
  .sliders {
      width:100vw !important;
      height: 62.5vw !important;
    }
}
.sliders{
  width: 1000%;
  height: 500px;
  display: flex;
  overflow: hidden;
}

.sliders input{
  display: none;
}

.slide{
  width:100%;
  transition: 1s;    
}
@media only screen and (max-width: 1000px) {
  .slide img {
      width:100vw !important;
    }
}
.slide img{
  width:800px;
}

@media only screen and (max-width: 1000px) {
  .navigation-manual {
      width:100vw !important;
      margin-top: 65% !important;
    }
}
.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top:  34%;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid rgb(90, 90, 90);
  padding: 3px;
  width: 20px;
  height:3px;
  border-radius: 6px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child){
  margin-right: 35px;
}
.manual-btn:hover{
  background: rgb(255,100,78);
  border: 2px solid rgb(133, 133, 133);
}



#rd1:checked ~ .first{
  margin-left: 0;
}
#rd2:checked ~ .first{
  margin-left: -100%;
}
#rd3:checked ~ .first{
  margin-left: -200%;
}
#rd4:checked ~ .first{
  margin-left: -300%;
}



@media only screen and (max-width: 1000px) {
  .navigation-auto {
      width:100vw !important;
      margin-top: 65% !important;
    }
}
.navigation-auto{
  position: absolute;
  display:flex;
  justify-content: center;
  width: 800px;
  margin-top: 34%;
}
.navigation-auto div:not(:last-child){
  margin-right: 35px;
}

.navigation-auto div{
  border: 2px solid rgb(165, 165, 165);
  padding: 3px;
  width: 20px;
  height:3px;
  border-radius: 6px;
  transition: 1s;
}

#rd1:checked ~ .navigation-auto .auto1{
  background: rgb(255, 100, 78);
}
#rd2:checked ~ .navigation-auto .auto2{
  background: rgb(255, 100, 78);
}
#rd3:checked ~ .navigation-auto .auto3{
  background: rgb(255, 100, 78);
}
#rd4:checked ~ .navigation-auto .auto4{
  background: gray;
}
=======
*{
  font-size: 18px;
}
/*header*/
.header{
    position:fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    max-width: 2000px;
    width: 100vw;
    background-color: white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 4px;
    cursor: pointer; 
    z-index: 1;
    overflow-x: hidden;
    background: radial-gradient(ellipse at center,rgb(231, 231, 231),rgb(250, 250, 250));
    width: 100%;
    
}


/*sidebar feature*/
.sidebar{
  top: 0;
  height:100%;
  background-color:white;
  z-index: 3;
  width: 200px;
  
  position:fixed;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(34, 34, 34, 0.12);
  box-sizing: border-box ;
  left:-200px;
  transition: left 0.4s ease;
}
.sidebar .bar{
  font-style: 'Poppin',sans-serief;
  overflow: visible;
  user-select: none;
  line-height: 70px;
  height: 68px;
  font-size: 32px;
  color: black;
  text-align: center; 
  width: 100%;
  animation:animateleft 0.4s;
}
nav ul{
  background-color: rgb(202, 199, 199);
  list-style: none;
  height:100%;
  text-align: left;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  position: static;
}
nav ul li{
  width: 100%;
  line-height: 50px;
}
nav ul ul{
  line-height: 50px;
  border-bottom: none;
  display: none;
}
nav ul li a{
  padding-left: 30px;
  color:black;
  text-decoration:none;
  font-size:24px;
  border-bottom: 1px solid rgb(36, 30, 30);
  border-left: 1px solid transparent;
  display: flex;
}
nav ul ul li a{
  padding-left: 60px;
}
.triangle{
  margin:  auto;
  position: flex;
  top: 50%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 12px solid rgb(99, 99, 99);
  border-bottom: 10px solid transparent;
  transition: transform 0.4s;
  }

/*sidebar funtion*/
nav ul li a:hover{
  color:white;
  background: black;
  border-left-color: rgb(255, 0, 0);
}
.rotate{
    transform: translate(0,-50%)rotate(180deg);
  }
.fold{
  display: block;
}

/*button feature*/
.btn{
  position:fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgb(202, 199, 199);
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
  text-align: center center;
  border-radius: 4px;
  cursor: pointer; 
   z-index: 2; 
   text-align: center;
}
.btn-span{
  color:black;
  font-size: 25px;
  line-height: 50px;
}

/*button function*/
.sidebar.unfold{
  left: 0px;
}
.btn-wipe{
  transform: scale(0); 
}

/*扶뒬매*/
.theme{
  max-width: 1200px;
  margin: auto;
  font-size: 24px;
  width: 66%;
  text-align: left;
  display: block;
  background: transparent !important;
}



.footer{
  display: block;
  flex-direction: row;
  margin: 10%;
  font-family: Bookman, URW Bookman L, sans-serif;
  font-size: 12px;
  font-display: left;
  background: transparent !important;
  
}
.footer1{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
  height: 200px;
}
.footer2{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;  
}
.footer-li{
  color: rgb(153, 33, 113);
  vertical-align: 50%;
  list-style-position: outside;
}






.container{
  margin-bottom:128px;
  display:flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  display: flex;
  
  padding: 10px;
  box-sizing: border-box;
  width: 48%;
  }
@media only screen and (max-width: 600px) {
  .image {
    width:100%;
  }
}


.post-svg{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  width: 33.3%;
  text-align:left;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .post-svg {
      width:100%;
    }
}
>>>>>>> fe3124f4a417c494111e9c3fd6fbaeabf5de7bcf
