*{
  margin: 0;
  padding: 0;
  user-select: auto;
  box-sizing: border-box;  
  font-family: ""
}

.sidebar{
    height:100%;
    width:200px;
    background-color:white;
    position:fixed!important;
    z-index:1;overflow:auto;
    width:100%;
    text-align:left;padding:8px 16px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position:fixed;
    width:100%;
    z-index:1;
    position:relative;
    animation:animateleft 0.4s;
    font-size:24px!important
}

.bar-item{
    padding:8px16px;float:left;width:auto;border:none;display:block;outline:0
}