/*sidebar feature*/
.sidebar{
  height:100%;
  background-color:white;
  z-index: 1;
  width: 200px;
  position:fixed;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(34, 34, 34, 0.12);
  box-sizing: border-box ;
  left:-200px;
  transition: left 0.4s ease;
}
.sidebar .bar{
  font-style: 'Poppin',sans-serief;
  overflow: visible;
  user-select: none;
  line-height: 50px;
  height: 50px;
  color: black;
  text-align: center; 
  width: 100%;
  animation:animateleft 0.4s;
}
nav ul{
  background-color: rgb(202, 199, 199);
  list-style: none;
  height:100%;
  text-align: left;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  position: static;
}
nav ul li{
  width: 100%;
  line-height: 50px;
}
nav ul ul{
  line-height: 50px;
  border-bottom: none;
  display: none;
}
nav ul li a{
  padding-left: 30px;
  color:black;
  text-decoration:none;
  font-size:24px;
  border-bottom: 1px solid rgb(36, 30, 30);
  border-left: 1px solid transparent;
  display: flex;
  width:100%;
}
nav ul ul li a{
  padding-left: 60px;
}
.triangle{
  margin:  auto;
  position: flex;
  top: 50%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 12px solid rgb(99, 99, 99);
  border-bottom: 10px solid transparent;
  transition: transform 0.4s;
  }

/*sidebar funtion*/
nav ul li a:hover{
  color:white;
  background: black;
  border-left-color: rgb(255, 0, 0);
}
.rotate{
    transform: translate(0,-50%) rotate(-180deg) ;
  }
.unfold{
  display: block;
}

/*button feature*/
.btn{
  position:fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgb(202, 199, 199);
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  border-radius: 4px;
  cursor: pointer; 
}
.btn-span{
  color:rgb(99, 99, 99);
  font-size: 25px;
  line-height: 50px;
}

/*button function*/
.sidebar.unfold{
  left: 0px;
}
.btn-wipe{
  transform: scale(0);
  
}























