*{
  font-size: 18px;
}
/*header*/
.header{
    position:fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    max-width: 2000px;
    width: 100vw;
    background-color: white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    border-radius: 4px;
    cursor: pointer; 
    z-index: 1;
    overflow-x: hidden;
    background: radial-gradient(ellipse at center,rgb(231, 231, 231),rgb(250, 250, 250));
    width: 100%;
    
}


/*sidebar feature*/
.sidebar{
  top: 0;
  height:100%;
  background-color:white;
  z-index: 3;
  width: 200px;
  
  position:fixed;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(34, 34, 34, 0.12);
  box-sizing: border-box ;
  left:-200px;
  transition: left 0.4s ease;
}
.sidebar .bar{
  font-style: 'Poppin',sans-serief;
  overflow: visible;
  user-select: none;
  line-height: 70px;
  height: 68px;
  font-size: 32px;
  color: black;
  text-align: center; 
  width: 100%;
  animation:animateleft 0.4s;
}
nav ul{
  background-color: rgb(202, 199, 199);
  list-style: none;
  height:100%;
  text-align: left;
  width: 100%;
  padding-left: 0;
  margin-top: 0;
  position: static;
}
nav ul li{
  width: 100%;
  line-height: 50px;
}
nav ul ul{
  line-height: 50px;
  border-bottom: none;
  display: none;
}
nav ul li a{
  padding-left: 30px;
  color:black;
  text-decoration:none;
  font-size:24px;
  border-bottom: 1px solid rgb(36, 30, 30);
  border-left: 1px solid transparent;
  display: flex;
}
nav ul ul li a{
  padding-left: 60px;
}
.triangle{
  margin:  auto;
  position: flex;
  top: 50%;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 12px solid rgb(99, 99, 99);
  border-bottom: 10px solid transparent;
  transition: transform 0.4s;
  }

/*sidebar funtion*/
nav ul li a:hover{
  color:white;
  background: black;
  border-left-color: rgb(255, 0, 0);
}
.rotate{
    transform: translate(0,-50%)rotate(180deg);
  }
.fold{
  display: block;
}

/*button feature*/
.btn{
  position:fixed;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-color: rgb(202, 199, 199);
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16);
  text-align: center center;
  border-radius: 4px;
  cursor: pointer; 
   z-index: 2; 
   text-align: center;
}
.btn-span{
  color:black;
  font-size: 25px;
  line-height: 50px;
}

/*button function*/
.sidebar.unfold{
  left: 0px;
}
.btn-wipe{
  transform: scale(0); 
}

/*首頁*/
.theme{
  max-width: 1200px;
  margin: auto;
  font-size: 24px;
  width: 66%;
  text-align: left;
  display: block;
  background: transparent !important;
}



.footer{
  display: block;
  flex-direction: row;
  margin: 10%;
  font-family: Bookman, URW Bookman L, sans-serif;
  font-size: 12px;
  font-display: left;
  background: transparent !important;
  
}
.footer1{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;
  width: 100%;
  height: 200px;
}
.footer2{
  flex: 1;
  margin-left: 2px;
  margin-right: 2px;  
}
.footer-li{
  color: rgb(153, 33, 113);
  vertical-align: 50%;
  list-style-position: outside;
}






.container{
  margin-bottom:128px;
  display:flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.image{
  display: flex;
  
  padding: 10px;
  box-sizing: border-box;
  width: 48%;
  }
@media only screen and (max-width: 600px) {
  .image {
    width:100%;
  }
}


.post-svg{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  width: 33.3%;
  text-align:left;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .post-svg {
      width:100%;
    }
}
